<div class="container mt-4">
    <form method="POST" action="/gestao/empresa/novo">
        <h1>Cadastro de nova empresa</h1>
        <div class="row my-3">
            <div class="col-lg-4">
                <label for="nomeempresa" class="form-label">Nome:</label>
                <input type="text" class="form-control" name="nomeempresa" style="text-transform: uppercase;" id="nomeempresa">
            </div>
        </div>
        <button type="submit" class="btn btn-padrao">Cadastrar</button>
    </form>
</div>
<script>
    // VARIAVEIS
    // FUNCOES 
    function para_uppercase(){
        var nome_empresa = document.getElementById("nomeempresa")
        nome_empresa.setAttribute("value", nome_empresa.getAttribute("value").toUpperCase())
    }
</script>