<div class="d-flex justify-content-center align-items-center" style="height: 600px;">
    <div class="col-lg-3 col-md-3">
        <form method="POST" action="/autenticacao/login">
            <fieldset class="form-control">
                <h1 style="color: #00002B; text-align: center;">Login</h1>
                <div class="row justify-content-center my-2">
                    <div class="col-12">
                        <label for="usuario" class="form-label">Usuário:</label>
                        <input type="text" class="form-control" name="usuario" id="usuario" placeholder="login">
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-12">
                        <label for="senha" class="form-label">Senha:</label>
                        <input type="password" class="form-control" name="senha" id="senha" placeholder="senha">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-padrao">ENTRAR</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
