<div class="container mt-4">
    <h1>Gerenciamento de estoque</h1>
    <h4>Selecione um serviço</h4>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="card mb-2">
                <img src="/img/warehouse.png" style="align-self: center; margin-top: 1.2em;" width="128" height="128">
                <div class="card-body">
                    <h5 class="card-title">Empresas</h5>
                    <p class="card-text">Gerenciamento de empresas</p>
                    <a class="btn btn-padrao" href="/gestao/empresa">Selecionar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="card mb-2">
                <img src="/img/magnifier.png" style="align-self: center; margin-top: 1.2em;" width="128" height="128">
                <div class="card-body">
                    <h5 class="card-title">Estoques</h5>
                    <p class="card-text">Gerenciamento de estoques</p>
                    <a class="btn btn-padrao" href="/gestao/estoque">Selecionar</a>
                </div>
            </div>
        </div>
    </div>
</div>